<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<body class="w3-light-grey">
<!-- Top container --><!--
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4" id="tops">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="openNav()"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>-->

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:1;width:282px; margin-top: -107px" id="mySidenav"><br>
  <div class="w3-container w3-row">
    <div class="w3-col">
      <img id="imagenDeMenu" src="https://media.istockphoto.com/vectors/flat-police-badge-icon-vector-id501279457?k=6&m=501279457&s=612x612&w=0&h=xuDxPizjmKQIKFZ4HuQqJ3afFJNdNJjhW4avEtOKgIk=" class="w3-circle w3-margin-right" style="width:250px">
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-container" >
    <ul>
    <li>
      <a href="/welcome" style="width:244px; height:60px;" class="active w3-bar-item w3-button" >
        <div style="margin-top:-8px">
          <i class="material-icons left">notifications_active</i><span class="w3-tag w3-red w3-right w3-margin-right">{{reportes ? reportes.length : ''}}</span>Notificación
          </div>
        </a>
     </li>  
    <li>
      <a href="/monitoreo" style="width:244px; height:60px;" class="active w3-bar-item w3-button w3-blue">
      <div style="margin-top:-8px">
        <i class="material-icons left">equalizer</i>Monitoreo
      </div>
      </a>
    </li>  
    <li>
      <a href="/filtro/avanzado" style="width:244px; height:60px;" class="waves-effect active w3-bar-item w3-button">
        <div style="margin-top:-8px">
        <i class="material-icons left">search</i>Filtro avanzado
        </div>
      </a>
    </li>
    </ul>
  </div>
  <hr>
    <div class="w3-container" >
      <ul>
        <li>
      <a href="/" style="width:244px; height:60px;" class="waves-effect active w3-bar-item w3-button">
      <div style="margin-top:-8px">
      <i class="material-icons left">exit_to_app</i>Cerrar sesiòn
       </div>
    </a>
    </li>
    </ul>
     </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:280px;margin-top:43px;">

  <div class="w3-row-padding w3-margin-bottom">
    <div class="hoverable">
      <div class="w3-container w3-green">
        <div class="w3-left">
          <h4 id="cl"> Monitoreo  <i class="fa fa-comment fa-2x"></i></h4></div>
        <div class="w3-right">
        <h1 id="cl">{{reportes ? reportes.length : ''}}</h1>
        </div>
        <div class="w3-clear"></div>
      </div>
    </div>
  </div>

  <div class="w3-panel w3-white">

      <div class="row">
        <div class="col s12">
          <div class="card teal lighten-2 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Región</span>
              <p>Monitoree los reportes publicados por las distintas regiones del Perú.</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn pulse" data-toggle="modal" data-target="#exampleModal">Ir
    <i class="material-icons right">send</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card teal lighten-2 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Delitos</span>
              <p>Monitoree los reportes por el tipo de delito.</p>
            </div>
            <div class="card-action">
                <a class="btn waves-effect waves-light pulse" data-toggle="modal" data-target="#exampleModal2">Ir
    <i class="material-icons right">send</i></a>
            </div>
          </div>
        </div>
      </div>
</div>


  <!-- Modal Structure REGION-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Monitoreo por región</h5>
        <button type="button" style="margin-top: -30px"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(monitorRegionForm.value)" #monitorRegionForm="ngForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departamento:</label>
            <select onchange="habilitarCombo(this.value);" class="form-control" [(ngModel)]="monitorRegion.departamento" name="departamento" required>
          <option selected >Seleccione un departamento</option>
          <option value="Lima">Lima</option>
          <option value="Camacho">Camacho</option>
            </select>
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Distrito:</label>
            <select class="form-control" [(ngModel)]="monitorRegion.distrito" name="distrito" id="distrito" required>
          <option selected  value="">Seleccione un distrito</option>
            </select>
          </div>


      <div class="modal-footer">
        <button type="submit" [disabled]="!monitorRegionForm.valid" class="btn btn-primary">Aceptar</button>       
      </div>
     </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal Structure  fin -->
  <!-- Modal Structure TIPO DE DELITO mala practica-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Monitoreo por tipo de delito</h5>
        <button type="button" style="margin-top: -30px"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit2(monitorRegionForm2.value)" #monitorRegionForm2="ngForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Delito:</label>
            <select class="form-control" [(ngModel)]="monitorRegion.departamento" name="departamento" required>
          <option value="Asalto a transeuntes">Asalto a transeuntes</option>
          <option value="Robo a casas">Robo a casas</option>
          <option value="Vandalismo">Vandalismo</option>
          <option value="Agresores">Agresores</option>
          <option value="Delincuencia juvenil">Delincuencia juvenil</option>
          <option value="Consumo de drogas">Consumo de drogas</option>
          <option value="Otros">Otros</option>
            </select>
          </div><!--
          <div class="form-group" id="adition" style='display:none;'>
            <label for="recipient-name" class="col-form-label">Delito:</label>
            <input type="text" id="distrito2" class="form-control" [(ngModel)]="monitorRegion.distrito" name="distrito" value="ninguno">
          </div>-->
      <div class="modal-footer">
        <button type="submit" [disabled]="!monitorRegionForm2.valid" class="btn btn-primary">Aceptar</button>       
      </div>
     </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal Structure  fin -->



  <hr>
  <br>
  <!-- Funciones de Mateial -->
  <button id="btnMaterial" onClick="material_deisgness()"  style='display:none;'>Botón material</button>
  <!-- End page content -->
   <footer id="foter">
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Autor</h5>
        <p>Honda System @ 2018</p>
      </div>
    </div>
  </div>
  </footer>
</div> 

</body>
</html>